## Librerias Conexión SQLServer

In [1]:
!pip install sqlalchemy
!pip install pyodbc
!pip install pandas

Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: pyodbc in c:\users\hp\anaconda3\lib\site-packages (4.0.34)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# Importar librerias
import sqlalchemy
from sqlalchemy import create_engine
import pyodbc
import pandas as pd
import numpy as np

## Conexión SQL Server

In [3]:
# Definimos nuestra variable para conexion con autentificación Windows
#server = "DESKTOP-0UOT7UT"
server = "DESKTOP-AFGNGKL"
namedatabase = 'ArtemisBD'
# Realizamos la conexion a la base de datos SQL Server
engine = create_engine("mssql+pyodbc://@"+server+"/"+namedatabase+"?driver=ODBC+Driver+17+for+SQL+Server")
con = engine.connect()

In [36]:
# Modificar Bases en SQL Server
# Realizamos la conexion a la base de datos SQL Server
#cnxn = pyodbc.connect('DRIVER = {ODBC Driver 17 for SQL Server};SERVER = DESKTOP-0UOT7UT; DATABASE = ArtemisBD; UID = sa; PWD = Park')
#cnxn = pyodbc.connect('DRIVER = {ODBC Driver 17 for SQL Server};SERVER = EEPIS-11; DATABASE = ArtemisBD; UID = sa; PWD = upt')
#cursor = cnxn.cursor()
cursor.executea("Select * From dbo.Tipo_Especialidad;")
#cnxx.commit()
# Crear un DataFrame
columna = [column[0] for column in cursor.description]
fila = [row for row in cursor.fetchall()]
datos = np.array(fila)
df_sql = pd.DataFrame(data=datos, columns=columna)
cnxn.close()

In [4]:
# Almacenamos nuestra consulta en un variable
query_Tipo_Especialidad = "Select * From dbo.Tipo_Especialidad"

query_Especialidad = "Select * From dbo.Especialidad"
query_Tecnico = "Select * From dbo.Tecnico"
query_RTecnico_TipoEspecialidad = "Select * From dbo.RTecnico_TipoEspecialidad"

In [5]:
# Leemos nuestra consulta query
df_Tipo_Especialidad = pd.read_sql(query_Tipo_Especialidad, con)
df_Tipo_Especialidad.head()

   Id_Tipo_Especialidad         TipoEspecialidad  Id_Especialidad
0                     1  Construcción de paredes                1
1                     2    Instalación de puerta                2
2                     3    Instalación electrica                3
3                     4    Fabricación de Puerta                2
4                     5  Instalación de ventanas                2

In [6]:
df_Tipo_Especialidad.head(1)
df_Tipo_Especialidad['TipoEspecialidad']
datos = np.array(df_Tipo_Especialidad)
print(datos)

[[1 'Construcción de paredes' 1]
 [2 'Instalación de puerta' 2]
 [3 'Instalación electrica' 3]
 [4 'Fabricación de Puerta' 2]
 [5 'Instalación de ventanas' 2]
 [6 'Diseño de muebles' 2]
 [7 'Construcción de muebles' 2]
 [8 'Instalación de suelos de madera' 2]
 [9 'Instalación de techos de madera' 2]
 [10 'Construcción de escaleras' 2]
 [11 'Reparación y mantemiento de elementos de madera' 2]
 [12 'Mantenimiento electrica' 3]
 [13 'Reparación electrica' 3]
 [14 'Instalación de sistemas de seguridad' 3]
 [15 'Instalación de sistemas de energia renovable' 3]
 [16 'Instalación de sistemas de automatización del hogar' 3]
 [17 'Instalación de sistemas de carga de vehiculos electricos' 3]
 [18 'Diseño y planificación de sistemas electricos' 3]
 [19 'Instalación de cimientos' 1]
 [20 'Instalación de pisos y losas' 1]
 [21 'Construcción de chimeneas' 1]
 [22 'Reparación de estructuras de mamposteria' 1]
 [23 'Instalación de azulejos' 1]
 [24 'Construcción de escaleras' 1]
 [25 'Instalación de tuberias' 4]
 [26 'Reparación de fugas' 4]
 [27 'Instalación de grifos y accesorios' 4]
 [28 'Limpieza de desagues' 4]
 [29 'Instalación de calentadores de agua' 4]
 [30 'Instalación de termas electricas' 4]
 [31 'Reparación de termas electricas' 4]
 [32 'Reparación de calentadores de agua' 4]
 [33 'Instalación de sistemas de calefacción' 4]
 [34 'Pruebas y mantenimiento de tuberias' 4]
 [35 'Preparación de superficies' 5]
 [36 'Selección de pinturas y acabados' 5]
 [37 'Aplicación de pintura' 5]
 [38 'Pintura de interiores' 5]
 [39 'Pintura de exteriores' 5]
 [40 'Pintura de estructuras metalicas' 5]
 [41 'Acabado de madera' 5]
 [42 'Soldadura de metales' 6]
 [43 'Preparación de metales' 6]
 [44
  'Interpretación de planos y esspecificaciones de soldadura requerida' 6]
 [45 'Selección del equipo de soldadura' 6]
 [46 'Reparación de piezas metalicas' 6]
 [47 'Inspección de soldaduras' 6]
 [48 'Mantenimiento de equipos de soldadura' 6]
 [49 'Diagnóstico de problemas' 7]
 [50 'Mantenimiento de vehiculos ' 7]
 [51 'Reparación de sistemas mecanicos' 7]
 [52 'Reparación de sistemas electricos' 7]
 [53 'Instalación de piezas y accesorios' 7]
 [54 'Soldadura y fabricación' 7]
 [55 'Inspección y pruebas' 7]
 [56 'Instalación de vidrios' 8]
 [57 'Corte y moldeado de vidrios' 8]
 [58 'Fabricación de vidrios a medida' 8]
 [59 'Mantenimiento de vidrios' 8]
 [60 'Asesoramiento tecnico de tipos de vidriosy propiedades' 8]
 [61 'Instalación de vidrios en edificios altos' 8]]

In [7]:
# Leemos nuestra consulta query
df_Especialidad = pd.read_sql(query_Especialidad, con)
df_Especialidad.head()

   Id_Especialidad  Especialidad
0                1       Albañil
1                2    Carpintero
2                3  Electricista
3                4     Fontanero
4                5        Pintor

In [8]:
# Leemos nuestra consulta query
df_Tecnico = pd.read_sql(query_Tecnico, con)
df_Tecnico.head()

,Id_Tecnico,Nombre,Apellido,Telefono,Id_Especialidad,Id_Estado_Tecnico,Id_Usuario
0,1,Disponible,Disponible,000000000,1,1,1
1,2,Davis,Flores Navarro,952885522,2,1,2
2,10,Raul,Lomas,159162158,1,1,2024

In [9]:
# Leemos nuestra consulta query
df_RTecnico_TipoEspecialidad = pd.read_sql(query_RTecnico_TipoEspecialidad, con)
df_RTecnico_TipoEspecialidad.head()

   Id  Id_Tecnico  Id_Tipo_Especialidad
0   2           1                     1
1   3           2                     2
2   4           3                     3

## Codigo Recomendación

In [10]:
#Librerias
!pip install nltk
!pip install inflect
import nltk
import inflect
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
#from nltk.stem import WordNetLemmatizer

Requirement already satisfied: nltk in c:\users\hp\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\hp\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click->nltk) (0.4.5)
Collecting inflect
  Downloading inflect-6.0.4-py3-none-any.whl (34 kB)
Collecting pydantic>=1.9.1
  Downloading pydantic-1.10.7-cp39-cp39-win_amd64.whl (2.2 MB)
     ---------------------------------------- 2.2/2.2 MB 8.2 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\hp\anaconda3\lib\site-packages (from pydantic>=1.9.1->inflect) (4.3.0)
Installing collected packages: pydantic, inflect
Successfully installed inflect-6.0.4 pydantic-1.10.7

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...

In [15]:
# Texto de entrada para el autoaprendizaje
texto = "Necesito alguien que repare un techo de madera"

In [12]:
# Tokenización de palabras
palabras = word_tokenize(texto.lower())

# Eliminación de palabras comunes o irrelevantes
stop_words = set(stopwords.words('spanish'))
palabras_filtradas = [palabra for palabra in palabras if not palabra in stop_words]

# Extracción de las palabras claves
palabras_claves = set(palabras_filtradas)

In [13]:
# Comparación de las palabras claves con las descripciones de trabajo para obtener recomendaciones

# Inicializar la clase Inflector para manejar la pluralización y singularización de palabras
inflector = inflect.engine()

# Inicializar una lista vacía para almacenar las recomendaciones de trabajo
recomendaciones = []

# Iterar a través de los trabajos en el dataset
for trabajo in datos:
    # Obtener la descripción del trabajo actual
    descripcion = trabajo[1]
    
    # Tokenizar la descripción del trabajo y filtrar las palabras irrelevantes
    palabras_trabajo = word_tokenize(descripcion.lower())
    palabras_filtradas_trabajo = [palabra for palabra in palabras_trabajo if not palabra in stop_words]
    
     # Inicializar un conjunto vacío para almacenar las palabras clave del trabajo actual
    palabras_claves_trabajo = set(palabras_filtradas_trabajo)

    # Iterar a través de las palabras filtradas en el trabajo actual
    for palabra in palabras_filtradas_trabajo:
        # convertir la palabra a su forma singular o plural
        singular = inflector.singular_noun(palabra)
        plural = inflector.plural_noun(palabra)

         # Si la palabra no tiene una forma singular o plural, agregar la palabra original al conjunto de palabras clave
        if singular == False and plural == False:
            palabras_claves_trabajo.add(palabra)
        else:
            # Agregar la forma singular o plural de la palabra al conjunto de palabras clave
            palabras_claves_trabajo.add(singular if singular else plural)

    # comparar las palabras clave del trabajo con las palabras clave del usuario
    if len(palabras_claves.intersection(palabras_claves_trabajo)) >= 2:
        # Si hay una intersección, agregar el trabajo actual a la lista de recomendaciones
        recomendaciones.append(trabajo[0])

In [16]:
print(recomendaciones)
#df_Tipo_Especialidad.iloc[30-1]

[9]

In [116]:
# Imprimir las recomendaciones
print("Recomendaciones de trabajo:")
for recomendacion in recomendaciones:
  print( recomendacion)

Recomendaciones de trabajo:
9